body {
    background-color: #0f0800;
    font-family: 'WDXL Lubrifont SC', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 7px currentColor;
}

.h1{
    color: darkgoldenrod;
    border-bottom: 3px solid darkgoldenrod;
    padding-bottom: 5px;
}

p {
    color: gold;
}

.test {
    border: 3px solid gold;
    border-radius: 15px / 15px;
    padding-left: 3px;
    padding-right: 3px;
}

.strong {
    color: goldenrod;
}

a {
    color: palegoldenrod;
    margin: 3px;
}

.site-img {
    max-width: 8rem;
    margin: 0;
    color: palegoldenrod;
    border: 3px solid palegoldenrod;
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
}